<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <h3>
        how to think
    </h3>
    <title>Group Portal</title>
</head>
<body>
    <div>
        {% if user.is_authenticated %}
            {% csrf_token %}
            <form method="post">
                <span>
                <button type="submit">
                        Logout
                </button> 
                </span>
            </form>
        {% else %}
            <span>
                <a href="register/">
                    Register
                </a>
            </span>
            <p>

            </p>
            <span>
                <a href="login/">
                    Login
                </a>
            </span>
        {% endif %}
    </div>
</body>
</html>
